
    <div class="container">
        <div class="col text-center">
            <img src="img/antony.jpg" alt="antony" class="img-thumbnail rounded-circle" width="200px">
            <div class="display-4">
                <h1>Antony Syahputra</h1>
                <p class="lead">Web Programmer | Content Creator</p>
            </div>
        </div>
    </div>
